{% extends 'proxys/base.html' %} {% block content %}
<div class="flex flex-col container mx-auto px-2">
  {% if request.user.is_authenticated %}
  <div class="flex pt-4">
    <a
      href="{% url 'proxys:cadastrar-proxy' %}"
      class="flex justify-center font-medium border-2 gap-1 text-sm border-fuchsia-600 rounded-lg py-1 px-4 text-fuchsia-600 hover:text-fuchsia-400 hover:border-fuchsia-400"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4v16m8-8H4"
        />
      </svg>
      Criar
    </a>
  </div>
  {% endif %}

  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden shadow-md rounded-md">
        <table class="min-w-full">
          <thead class="bg-gray-100 border-b">
            <tr>
              <th
                scope="col"
                class="py-3 px-2 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
              >
                IP Andress
              </th>
              <th
                scope="col"
                class="py-2 px-2 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
              >
                Port
              </th>
              <th
                scope="col"
                class="py-2 px-2 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
              >
                Protocol
              </th>
              <th
                scope="col"
                class="py-2 px-2 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
              >
                Anonymity
              </th>
              <th
                scope="col"
                class="py-2 px-2 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
              >
                Country
              </th>
              <th
                scope="col"
                class="py-2 px-2 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
              >
                Region
              </th>
              <th
                scope="col"
                class="py-2 px-2 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
              >
                City
              </th>
              <th
                scope="col"
                class="py-2 px-2 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
              >
                Uptime
              </th>
              <th
                scope="col"
                class="py-2 px-2 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
              >
                Response
              </th>
              <th
                scope="col"
                class="py-2 px-2 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
              >
                Transfer
              </th>
              {% if request.user.is_authenticated %}
              <th scope="col" class="relative py-3 px-6">
                <span class="sr-only">Edit</span>
              </th>
              {% endif %}
            </tr>
          </thead>

          <tbody>
            {% for item in proxy_list %}
            <tr class="bg-white border-b">
              <td
                class="py-2 px-2 text-sm font-medium text-gray-900 whitespace-nowrap"
              >
                {{item.ip_address}}
              </td>
              <td
                class="py-2 px-2 text-sm font-medium text-gray-900 whitespace-nowrap"
              >
                {{item.port}}
              </td>
              <td
                class="py-2 px-2 text-sm font-medium text-gray-900 whitespace-nowrap"
              >
                {{item.protocol}}
              </td>
              <td
                class="py-2 px-2 text-sm font-medium text-gray-900 whitespace-nowrap"
              >
                {{item.anonymity}}
              </td>
              <td
                class="py-2 px-2 text-sm font-medium text-gray-900 whitespace-nowrap"
              >
                {{item.country}}
              </td>
              <td
                class="py-2 px-2 text-sm font-medium text-gray-900 whitespace-nowrap"
              >
                {{item.region}}
              </td>
              <td
                class="py-2 px-2 text-sm font-medium text-gray-900 whitespace-nowrap"
              >
                {{item.city}}
              </td>
              <td
                class="py-2 px-2 text-sm font-medium text-gray-900 whitespace-nowrap"
              >
                {{item.uptime}}%
              </td>
              <td
                class="py-2 px-2 text-sm font-medium text-gray-900 whitespace-nowrap"
              >
                {{item.response}}%
              </td>
              <td
                class="py-2 px-2 text-sm font-medium text-gray-900 whitespace-nowrap"
              >
                {{item.transfer}}%
              </td>
              {% if request.user.is_authenticated %}
              <td
                class="py-2 px-2 text-sm font-medium text-right whitespace-nowrap flex gap-1"
              >
                <a
                  href="{% url 'proxys:editar-proxy' item.pk %}"
                  class="text-blue-600 hover:text-blue-400"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                    />
                  </svg>
                </a>
                <a
                  href="{% url 'proxys:deletar-proxy' item.pk %}"
                  class="text-red-600 hover:text-red-400"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                    />
                  </svg>
                </a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="">
    {% if page_obj.has_previous %}
    <a
      href="?page={{ page_obj.previous_page_number}}"
      class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
    >
      Anterior
    </a>
    {% endif %}
    <span
      class="inline-flex items-center py-2 px-4 ml-1 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300"
      >{{ page_obj.number}}</span
    >
    {% if page_obj.has_next%}
    <a
      href="?page={{ page_obj.next_page_number}}"
      class="inline-flex items-center py-2 px-4 ml-1 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
    >
      Proxima
    </a>
    {% endif %}
  </div>
</div>

{% endblock %}
